*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Gilroy;
    
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width:100%;
    height:100%;
    background-color:#F8F8F8 ; 
    position:relative;
    padding-top: 0.1px;;

}
#nav{
    width:100%;
    height:11vh;
    /*background-color: aqua;*/
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display :flex;
    align-items:center;
    justify-content: space-between;


}
#nav h3{
   display:none; 
}
#nav h1{
    /*background-color:yellow ;*/
    height:100%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1::after{
    content:"©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
    position:absolute;
    top:22%;
    right:2%;
}
#nav h1::before{
    content:"model management";
    font-family:gilroy;
    font-weight: 500;
    color:#666;
    font-size: 15px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: 10%;
    right:15%;

}
#nav h2{
   /* background-color:yellow ;*/
    height:100%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 540;
}
#nav h2:nth-last-child(2){
    width:27%;
    
}
#nav h2:nth-last-child(1){
    width:10%;
    
}
#center{
    width:100%;
    height:90%;
    padding:4vw;
    position: relative;

}

#content{
    height:100%;
    width:100%;
    position: relative;

}
#content video{
    height: 100%;
    width:100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width:100%; 
    bottom:0;
    position: absolute;
    padding: 3vw;
    color: white;

}
#over1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;

}
#over1 h1{
    font-family: monument;
    font-size: 3vw;


}
#over1 h2{
   
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 2px solid #ffff;
    

}
#over2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ffff;
    padding: 1.5vw o;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;

}
#over2 img{
    height:3vw;
}
#scroll{
    height:40vh;
    width:100%;
    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;


}
#container{
  height:100%;
  width:90%;
  display: inline-block;
  padding: 2vw;  
  animation-name: anime;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll img{
    height:95%;
    border-radius: 50%;
    width:15%;
    margin:1vw;
    object-fit: cover;
    object-position: 30% 30%;   
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height:11vh;
    width:100%;
    display : flex;
    align-items: center;
    justify-content: center;
    gap:1.1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    border-bottom: 2px solid #00000000 ;

}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s

    }
    #alphabet h6:hover{
        border:1px solid #000;
    }   

#page2{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2part1{
    height:100%;
    width:50%;
    background-image: url(https://images.unsplash.com/photo-1515031245064-22453e134337?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8);
    background-size:cover ;
    background-position: center;

}
#page2part12 h1{
    font-family: monument;
}
#page2part2{
    height:100%;
    width:45%;
    
}
#page2part2 img{
    height: 70%;
    width:100%;
    object-fit: cover;

}

#page2part22{
    display :flex;
    
    padding-top: 13% ;
    gap:5%;
}
#page2part22 h4 {
    font-size: 20.5px;
}
#page2part22 h6 {
    font-size: 10px;
}
#page3{
    height:100%;
    width:100%;
}
#page3{
    width:100%;
    height:100%;
    padding:5vw;
    position: relative;

}

#photo{
    height:100%;
    width:100%;
    position: relative;

}
#photo img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: contain;
}

#page4{
    height: 100%;
    width:100%;
    position: relative ;
    
    padding:5vw 4vw;
  
}
#page4 h1{
    font-family: monument;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
    
}
.elem{
    height:15vh;
    width:100%;
    border-top: 2px solid black;
    display:flex;
    align-items: center;
    justify-content:space-between ;
    padding: 0 2vw;
    position: relative;
    transition:all ease 0.8s;
    

}
.elem img{
    height: 90px;
    width:90px;
    border-radius: 50%;
    position: absolute;
    left:12%;
    opacity:0;
    transition:all ease 0.8s;
    object-fit: cover;
    object-position: top;


}
.elem h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    width:6%;
}
.elem .elem2{
    width:45%;
}
.elem2 h2{
    font-size: 3vw;
    font-weight: 600;

}
.elem2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;

}
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem:hover{
    background-color: #ccc8c8;
}

.elem:hover img{
    opacity:1;
    left:22%;

}
#movieShot{
    width: 100%;
    height: 100vh;
    padding: 2vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
#movieShot .movie-left{
    width: 45%;
    height: 100%;
    background-color: yellow;
    background-image: url(https://plus.unsplash.com/premium_photo-1669704098750-7cd22c35422b?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#movieShot .movie-content{
    width: 55%;
    height: 100%;
}
#movieShot .movie-content .text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:1.2vw ;
}
#movieShot .movie-content .text h1{
    font-family: monument;
    font-size: 2.8vw;
}
#movieShot .movie-content .text h4{
    width: 60%;
    font-size: 2vw;
    font-weight: 400;
}
#movieShot .movie-content .text {
    font-size: 1.1vw;
}
.movie-img{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 1vw;
}
.movie-img .left-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579493934830-eab45746b51b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}
.movie-img .right-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1613498382159-0972b7b4c9f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}.page2{
    width: 100%;
    height: 110vh;
    display: flex;
    padding: 4vw 6vw 0 6vw;
    align-items: center;
    justify-content: space-between;
}
.page2 #left{
    width: 55%;
    height: 100%;
}
.page2 #left img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}
.page2 #right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page2 #left h3{
    font-size: 2.7vw;
    font-weight: 900;
    font-family: monument;
}
.page2 #right img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: 30% 30%;
}
.page2 #right .content{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.page2 #right .content h5{
    width: 52%;
    font-size: 1.7vw;
}
.page2 #right .content h6{
    font-size:1.1vw;
    width: 40%;
    font-weight: 100;
}.imgSection{
    width: 100%;
    height: 100vh;
    padding: 3vw 6vw;
}
.imgSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;}

#mark{
    padding: 0.8vw;
    width:100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#mark h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px)); 
    }
}
#blog{
    width: 100%;
    height: 100vh;
    padding: 4vw 6vw;
}
.blogContainer{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4vw;
    padding: 1vw;
}
.blogContainer h3{
    font-family: monument;
    font-size: 3vw;
}
.blog{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.blog p{ 
    font-size: 2vw;
}
.blog p span{
    border: 1px solid black;
    padding: 3px 9px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: justify;
}
.blog img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    object-position: 0 20%;

}
footer{
    width: 100%;
    height: 40vh;
    border-top: 2px solid black;
    margin-top: 35px;
    border-bottom: 2px solid black;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
footer h1{
    width: 30%;
    padding: 2vw 6vw;
    font-family: monument;
    position: relative;
} 
footer h2:nth-child(2){
    width: 20%;
    padding: 2vw 6vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
}
footer h2:nth-child(3){
    width: 20%;
    padding: 2vw 2vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
}
footer div{
    width: 30%;
}
footer div h2{
    border-bottom: 2px solid black;
    /* margin-top: 2vw;      */
    padding: 2vw;
    font-weight: 400;
    text-align: center;
}
footer div p{
    /* padding: 2vw; */
    padding-top: 1vw;
    /* padding-left: 3vw; */
}
footer h1::after{
    content: '©️';
    font-family: sans-serif;
    position: absolute;
    right: 30%;
    font-size: 1.8vw;
    top: 10%;
}
footer h1::before{
    content: "model management";
    font-family: sans-serif;
    top: 25%;
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 35%;
    color: rgb(76, 76, 76);
}
.icons{
    width: 100%;
    padding-left: 3vw;
    margin-top: 1vw;
}
.icons i{
    font-size: 1.7vw;
    margin-right: 1vw;
}

@media (max-width:600px)
{
    body{
        overflow-x: hidden;

    }
    #nav{
        
        height:8vh;
        /*background-color: aqua;*/
        margin-top: 20px;
        padding:0 5vw
       }
    #nav h1{
        width:40%;       
        justify-content: flex-start;
        font-size: 24px; 
    }
    #nav h3{
        display:block;
    }
    #nav h1::after{
        
        display:none;
    }
    #nav h1::before{
        display:none;
    }
    #nav h2{
       display:none;
    
    }
    
    #center{
        width:100%;
        height:40%;
        padding:4vw;
        position: relative;
    
    }
    
    #content{
        height:100%;
        width:100%;
        position: relative;
    
    }
    #content video{
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    #overlay{
        height: fit-content;
        width:100%; 
        bottom:0;
        position: absolute;
        padding: 3vw;
        color: white;
    
    }
    #over1{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    
    }
    #over1 h1{
        font-family: monument;
        font-size: 5vw;
        font-weight: 100;
    
    
    }
    #over1 h2{
       
        font-size: 2vw;
        padding: 3vw 3.2vw;
        border-radius: 50%;
        border: 2px solid #ffff;
        
    
    }
    #over2{
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #ffff;
        padding: 1.5vw o;
    }
    #over2 h4{
        font-size: 3vw;
        font-weight: 500;
    
    }
    #over2 img{
        height:5vw;
    }
    #scroll{
        height:20vh;
        width:100%;
        white-space: nowrap;
    
        overflow-x: hidden;
        overflow-y: hidden;
    
    
    }
    #container{
      height:100%;
      width:210%;
      display: inline-block;
      padding: 2vw;  
      animation-name: anime;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    #scroll img{
        height:95%;
        border-radius: 50%;
        width:15%;
        margin:1vw;
        object-fit: cover;
        object-position: 30% 30%;
} 
#movieShot{
    height: fit-content;
    flex-direction: column-reverse;
}
#movieShot .movie-left{
    width: 100%;
}
#movieShot .movie-content{
    width: 100%;
}
#movieShot .movie-content .text h1{
    font-size: 9vw;
}
#movieShot .movie-content .text h4{
    font-size: 3vw;
    margin: 10px 0;
}
#movieShot .movie-content .text {
    font-size: 5vw;
    margin-top: 10px;
}
#mark{
    height: 8vh;
}

#blog{
    height: fit-content;
}
.blogContainer{
    flex-direction: column;
}
.blog{
    width: 100%;
    margin-top: 10px;
}
.blogContainer h3{
    font-size: 9vw;
}
.blog p{
    font-size: 6vw;
}
footer{
    flex-direction: column;
    height: fit-content;
}
footer h1{
    width: 100%;
    padding: 2vw;
}
footer h2:nth-child(2){
    width: 100%;
    border-right: none;
    border-bottom: 2px solid black;
    text-align: start;
    padding: 2vw;
}
footer h2:nth-child(3){
    width: 100%;
    text-align: start;
    border-bottom: 2px solid black;
}
footer div h2{
    text-align: start;
}
footer div{
    width: 100%;
}
.icons{
    margin-top: 10px;
}
.icons i{
    font-size:6vw;
}
footer h1::before{
    top: 80%;
    right: 60%;
    font-size: 2vw;
}
footer h1::after{
    right: 50%;
    font-size: 3vw;
}
}
